<div class="similar-tile-container tile-detail-mosaic">
    <!--Calculate width-->
    <div ng-repeat="n in  [] | range:repeatVertical">
        <div ng-style="{ 'width': (repeatHorinzotal > 1) ? '50%':'100%' }" class="tile-mosaic-conatiner" ng-repeat="n in  [] | range:repeatHorinzotal">
            <img ng-src="{{tile.image}}" alt="{{tile.name}} mosaic 1" class="tile-mosaic-image" ng-style="{'transform': 'rotate(' + tile.rotateDeg1 +'deg)'}" />
            <img ng-src="{{tile.image}}" alt="{{tile.name}} mosaic 2" class="tile-mosaic-image" ng-style="{'transform': 'rotate(' + tile.rotateDeg2 +'deg)'}" />
            <img ng-src="{{tile.image}}" alt="{{tile.name}} mosaic 1" class="tile-mosaic-image" ng-style="{'transform': 'rotate(' + tile.rotateDeg3 +'deg)'}" />
            <img ng-src="{{tile.image}}" alt="{{tile.name}} mosaic 2" class="tile-mosaic-image" ng-style="{'transform': 'rotate3d(0, 0 , 1, ' + tile.rotateDeg4 +'deg)'}" />
            <br style="clear:both;" />
        </div>
    </div>
    <br style="clear:both;" />
</div>