<div class="col-md-12" ng-controller="checkoutCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-sec">{{::vm.labels.checkout}}</h2>
            <a class="breadcrumds" href="#"><u>{{ ::vm.labels.checkout }}</u> <i class="fa fa-angle-double-right"></i></a>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<h2>Shipping Information</h2>
    	</div>
    	<div class="col-md-6">
    		<div class="checkout-steps text-right">
	    		<div class="checkout-step">
					<div class="number">1</div>
					<div class="title">Shipping <br>Information</div>
				</div>
				<div class="checkout-step">
					<div class="number">2</div>
					<div class="title">Payment <br>Information</div>
				</div>
				<div class="checkout-step">
					<div class="number">3</div>
					<div class="title">Order <br>Completed</div>
				</div>
			</div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-md-6">
    		<form action="">
    			<div class="shipping-information">
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="First Name">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="Last Name">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="Company Name">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="Address">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="Address 2">
    				</div>
    				<div class="form-group">
    					<input type="number" class="form-control" placeholder="Zip Code: 45674">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="City: Rio Grande">
    				</div>
    				<div class="form-group">
    					<input type="text" class="form-control" placeholder="State: Ohio">
    				</div>
    				<div class="form-group">
    					<input type="email" class="form-control" placeholder="E-mail: Address">
    				</div>
    				<div class="form-group">
    					<input type="number" class="form-control" placeholder="Phone Number">
    				</div>
    			</div>
    		</form>
    	</div>
    	<div class="col-md-6">
    		<div class="order-summary">
    			<h3>ORDER SUMMARY</h3>
    			<div class="order-detail">
    				<table class="table gt-table-order-summary">
    					<thead>
    						<tr>
    							<th>PRODUCT</th>
    							<th>SQ. FT</th>
    							<th>SUBTOTAL</th>
    						</tr>
    					</thead>
    					<tbody>
    						<tr>
    							<td><h2>Kotka - In Stock Tile</h2><span>Color: Teal, Yellow, Aqua, White</span></td>
    							<td>100</td>
    							<td>197.40</td>
    						</tr>
                            <tr>
                                <td><h2>Jaen 918 - Custom Tile</h2><span>Color: Mustard, White, Olive, Coral</span></td>
                                <td>50</td>
                                <td>100.00</td>
                            </tr>
    					</tbody>
    				</table>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-6"></div>
    			<div class="col-md-6">
    				<table class="table gt-table-total-price">
                        <tbody>
                            <tr>
                                <td>Subtotal:</td>
                                <td class="text-right">$297.40</td>
                            </tr>
                            <tr>
                                <td>Shipping:</td>
                                <td class="text-right">$100.00</td>
                            </tr>
                            <tr class="total">
                                <td>TOTAL:</td>
                                <td class="text-right">$397.40</td>
                            </tr>
                        </tbody>      
                    </table>
    			</div>
    		</div>
            <div class="row text-right">
                <button class="btn sky-select btn-sm">Back to Cart</button>
                <button class="btn btn-green btn-lg">CONTINUE</button>
            </div>
    		<div class="row">
    			<div class="col-md-12">
    				<h2>Questions?</h2>
		            <ul class="list-inline list-question">
		                <li class="col-md-4">
		                    <div class="icon"><i class="fa fa-comments"></i></div>
		                    <div class="question-content">
		                        <a href=""><strong>LIVE CHAT</strong></a>
		                        <span>&nbsp;</span>
		                    </div>
		                </li>
		                <li class="col-md-4">
		                    <div class="icon"><i class="fa fa-comments"></i></div>
		                    <div class="question-content">CALL US 
		                    	<span>213-482-8070</span>
		                    </div>
		                </li>
		                <li class="col-md-4">
		                    <div class="icon"><i class="fa fa-envelope"></i></div>
		                    <div class="question-content">EMAIL US
		                        <span><a href="">sales@granadatile.com</a></span>
		                    </div>
		                </li>
		            </ul>
    			</div>
    		</div>
    	</div>
    </div>
</div>