<div class="modal-header">
    <img class="gt-header-logo-sm " src="/static/img/Granada-Tile-logo.png" alt="Granada Tile logo">
    <button type="button" ng-click="vm.cancel()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title heading-sec" id="myModal-label">{{vm.confirmation}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            {{vm.message}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="vm.ok()">OK</button>
    <button class="btn btn-primary" type="button" ng-click="vm.cancel()">Cancel</button>
</div>
