<div class="modal-header">
    <img class="gt-header-logo-sm " src="/static/img/Granada-Tile-logo.png" alt="Granada Tile logo">
    <button type="button" ng-click="vm.close()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title heading-sec" id="myModal-label">Share this content</h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6">
        <a 
           socialshare
           socialshare-url="{{vm.url}}"
           socialshare-provider="facebook"
           socialshare-text="Share text"
           class="social-share">
           <i class="fa fa-facebook-official"></i>
            Facebook
        </a>
      </div>
      <div class="col-lg-6">
        <a 
           socialshare
           socialshare-url="{{vm.url}}"
           socialshare-provider="twitter"
           socialshare-text="Share text"
           class="social-share">
           <i class="fa fa-twitter-square"></i>
            Twitter
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a 
           socialshare
           socialshare-url="{{vm.url}}"
           socialshare-provider="google+"
           socialshare-text="Share text"
           class="social-share">
           <i class="fa fa-google-plus-square"></i>
            Google+
        </a>
      </div>
      <div class="col-lg-6">
        <a 
           socialshare
           socialshare-url="{{vm.url}}"
           socialshare-provider="linkedin"
           socialshare-text="Share text"
           class="social-share">
           <i class="fa fa-linkedin-square"></i>
            Linkedin
        </a>
      </div>
    </div>
</div>
