<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModal-label">Share this content</h4>
</div>
<div class="modal-body">
    <a href="#"
       socialshare
       socialshare-provider="facebook"
       socialshare-text="Share text">
        Facebook
    </a>
    <a href="#"
       socialshare
       socialshare-provider="twitter"
       socialshare-text="Share text">
        Twitter
    </a>
    <a href="#"
       socialshare
       socialshare-provider="google+"
       socialshare-text="Share text">
        Google+
    </a>
    <a href="#"
       socialshare
       socialshare-provider="linkedin"
       socialshare-text="Share text">
        Linkedin
    </a>
</div>
