<div class="modal-header">
    <div class="row">
        <div class="col-md-6">
            <h4 class="modal-title title-custom-tile">{{::vm.tile.name}}</h4>
        </div>
        <div class="col-md-6 rotate-tile">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">&times;</button>
            <div class="custom-checkbox">
                <p class="checkbox-inline">
                    <input type="checkbox">
                    <label>&nbsp;</label>
                </p>
            </div>
            <div><p>RESET TO <br> ORIGINAL</p></div>
            <div>
                <a href="" class="btn btn-rotate-left"><i class="fa fa-rotate-left"></i></a>
                <a href="" class="btn btn-rotate-right"><i class="fa fa-rotate-right"></i></a>
            </div>
            <div><p class="text-right">CLICK ON TILE <br> BELOW TO ROTATE</p></div>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled tile-button-options">
                        <li>
                            <a href="" ng-click="vm.saveToPortfolio()">
                                <i class="fa fa-briefcase"></i>
                                <p>SAVE TO PORTFOLIO</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-file"></i>
                                <p>TEAR <br> SHEET</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-shopping-cart"></i>
                                <p>ADD TO <br> CART</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-briefcase"></i>
                                <p>ORDER FREE SAMPLE</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-print"></i>
                                <p>PRINT <br> PAGE</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-9">
                      <div class="similar-tile-container" ng-bind-html="vm.plane | unsafe"
                       ui-on-drop="vm.addColor($event,$data)">
                    </div> 
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="section-information"><span>Color Palette:</span> Drag colors to tile above to customize</p>
                    <ul class="list-inline color-pallete-content">
                        <li class="col-md-2 list-color-pallete" ng-repeat="color in vm.colorPallete">
                             <div class="color dragable"  ui-draggable="true"  drag="color"
                                 ng-style="{ 'background-color' : color.hexadecimalCode}" >&nbsp;</div>
                            <p class="color-name">{{color.name}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile-container-rotate">
                        <!--<tile-mosaic tile="vm.tile" repeat-vertical="4" repeat-horinzotal="4" no-borders="true"></tile-mosaic>-->
                        <div class="tile-detail-mosaic" ng-class="(noBorders)? '':'similar-tile-container'">
                            <div ng-repeat="n in  [] | range:4">
                                <div ng-style="{ 'width':  100/4 + '%'}" class="tile-mosaic-conatiner" ng-repeat="n in  [] | range:4">
                                    <div  class="tile-mosaic-image" ng-style="{'transform': 'rotate3d(0, 0 , 1, ' + vm.tile.rotateDeg1 +'deg)'}">
                                        <div ng-bind-html="vm.mosaic | unsafe" class="svg-container"></div>
                                    </div>
                                    <div  class="tile-mosaic-image" ng-style="{'transform': 'rotate3d(0, 0 , 1, ' + vm.tile.rotateDeg2 +'deg)'}">
                                        <div ng-bind-html="vm.mosaic | unsafe" class="svg-container"></div>
                                    </div>
                                    <div  class="tile-mosaic-image" ng-style="{'transform': 'rotate3d(0, 0 , 1, ' + vm.tile.rotateDeg3 +'deg)'}">
                                        <div ng-bind-html="vm.mosaic | unsafe" class="svg-container"></div>
                                    </div>
                                    <div  class="tile-mosaic-image" ng-style="{'transform': 'rotate3d(0, 0 , 1, ' + vm.tile.rotateDeg4 +'deg)'}">
                                        <div ng-bind-html="vm.mosaic | unsafe" class="svg-container"></div>
                                    </div>
                                    <br style="clear:both;" />
                                </div>
                            </div>
                            <br style="clear:both;" />
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <span>Colors Used:</span>
                            </div>
                            <div class="col-md-9">
                                <ul class="list-inline color-pallete-content">
                                    <li class="col-md-2 list-color-pallete" ng-repeat="color in vm.colorsUsed">
                                        <div class="color" ng-style="{ 'background-color' : color.hexadecimalCode}">&nbsp;</div>
                                        <p class="color-name">{{color.name}}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>
