<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">&times;</button>
    <h4 class="modal-title">Modal Title</h4>
</div>
<div class="modal-body">
    <div ng-bind-html="vm.plane | unsafe">

    </div>
    <ul>
        <li ng-repeat="color in vm.colorPallete">
            <div ng-style="{ 'background-color' : color.hexadecimalCode}">
                {{color.name}}
            </div>
        </li>
    </ul>
    Color Used:
    <ul>
        <li ng-repeat="color in vm.colorsUsed">
            <div ng-style="{ 'background-color' : color.hexadecimalCode}">
                {{color.name}}
            </div>
        </li>
    </ul>
</div>
