<div class="col-md-12" ng-controller="collectionsGroupsCtrl as vm">
    <div class="row">
        <aside class="col-sm-3 col-xs-4">
            <ng-include src="vm.collectionAsideNavigationTemplateUrl"></ng-include>
        </aside>
        <div class="col-sm-9 col-xs-8">
            <h1 class="heading-sec">{{ ::vm.collection.title }} {{ ::vm.labels.title }}</h1>
            <a  class="breadcrumds"><u>{{::vm.labels.collection}}</u> <i class="fa fa-angle-double-right"></i> </a>
            <a ng-href="{{vm.collection.url}}" class="breadcrumds"><u>{{::vm.collection.menuTitle}}</u> <i class="fa fa-angle-double-right"></i> </a>
            <div class="text-section" ng-bind-html="::vm.collection.introduction | unsafe"></div>
            <div ng-repeat="group in vm.collectionGroups" ng-if="$index % 2 == 0" class="row">
                <div class="col-md-6 col-sm-6 blue-box" ng-if="$index <= vm.collectionGroups.length - 1">
                    <a ng-href="{{ vm.collectionGroups[$index].url }}">
                        <div class="blue-box-content">
                            <img ng-src="{{ vm.collectionGroups[$index].image }}" alt="{{ vm.collectionGroups[$index].title }}">
                            <h2>{{ vm.collectionGroups[$index].title }}</h2>
                            <div class="view-more">
                                <i class="fa fa-plus-circle"></i>
                                <label>{{ vm.labels.moreInfo | uppercase }}</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-sm-6 blue-box" ng-if="$index + 1 <= vm.collectionGroups.length - 1">
                    <a ng-href="{{ vm.collectionGroups[$index + 1].url }}">
                        <div class="blue-box-content">
                            <img ng-src="{{ vm.collectionGroups[$index + 1].image }}" alt="{{ vm.collectionGroups[$index + 1].title }}">
                            <h2>{{ vm.collectionGroups[$index + 1].title }}</h2>
                            <div class="view-more">
                                <i class="fa fa-plus-circle"></i>
                                <label>{{ vm.labels.moreInfo | uppercase }}</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>