<div class="col-md-12" ng-controller="collectionsGroupCtrl as vm">
    <div class="row">
        <aside class="col-md-3 sub-menu-container ">
            <div class="row margin-top-20">
                <a ng-href="{{ vm.collection.url }}">
                    <div class="col-md-6">
                        <img ng-src="{{ vm.collection.menu_image }}" alt="{{ vm.collection.title }}" class="img-responsive menu-section_image">
                    </div>
                    <div class="col-md-6">
                        <h3 class="menu-section_title">{{ vm.collection.title | uppercase }}<br /><i class="fa fa-caret-down menu-section_arrowDown"></i></h3>
                    </div>
                </a>
            </div>
            <ul class="menu-section">
                <li><a href="#">Interactive Catalog </a></li>
                <li><a href="#">Custom Cement Tiles </a></li>
                <li><a href="#">About the Echo Collection </a></li>
                <li><a href="#">Applications of Cement Tile</a></li>
                <li><a href="#">Echo Collection Gallery </a></li>
                <li><a href="#">Technical Specifications </a></li>
                <li><a href="#">Ordering Cement Tile </a></li>
                <li><a href="#">Installing Cement Tile</a></li>
            </ul>
            <div ng-repeat="item in vm.filteredMenuCollection" ng-if="$index % 2 == 0" class="row">
                <div class="col-md-6"  ng-if="$index <= vm.filteredMenuCollection.length - 1">
                    <a ng-href="{{ vm.filteredMenuCollection[$index].url }}" class="menu-section-style-text">
                        <img ng-src="{{ ::vm.filteredMenuCollection[$index].image }}" alt="{{ ::vm.filteredMenuCollection[$index].title }}" class="img-responsive menu-section_image">
                        <h3 class="menu-section_title text-center">{{ ::vm.filteredMenuCollection[$index].title | uppercase }}</h3>
                    </a>
                </div>
                <div class="col-md-6"  ng-if="$index + 1 <= vm.filteredMenuCollection.length - 1">
                    <a ng-href="{{ vm.filteredMenuCollection[$index + 1].url }}" class="menu-section-style-text">
                        <img ng-src="{{ ::vm.filteredMenuCollection[$index + 1].image }}" alt="{{ ::vm.filteredMenuCollection[$index + 1].title }}" class="img-responsive menu-section_image">
                        <h3 class="menu-section_title text-center">{{ ::vm.filteredMenuCollection[$index + 1].title | uppercase }}</h3>
                    </a>
                </div>
            </div>
        </aside>
        <div class="col-md-9">
            <h1 class="heading-sec">{{ ::vm.collection.title }} {{ ::vm.labels.title }}</h1>
            <a href="#" class="breadcrumds"><u>Collections</u> <i class="fa fa-angle-double-right"></i> <u>{{ ::vm.collection.title }}</u></a>
            <div class="text-section" ng-bind-html="::vm.collection.introduction"></div>
            <div ng-repeat="group in vm.collectionGroups" ng-if="$index % 2 == 0" class="row component-space-row">
                <div class="col-md-6" ng-if="$index <= vm.collectionGroups.length - 1">
                    <a ng-href="{{ vm.collectionGroups[$index].url }}">
                        <div class="component-container component-container_padding5">
                            <img ng-src="{{ vm.collectionGroups[$index].image }}" alt="{{ vm.collectionGroups[$index].title }}" class="component-container_multimedia">
                            <h2 class="component-container_title padding-left-10">{{ vm.collectionGroups[$index].title }}</h2>
                            <div class="component-container_moreInfo">
                                <i class="fa fa-plus-circle"></i>
                                <label>MORE<br />INFO</label>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6" ng-if="$index + 1 <= vm.collectionGroups.length - 1">
                    <a href="#" ">
                        <div class="component-container component-container_padding5">
                            <img ng-src="{{ vm.collectionGroups[$index + 1].image }}" alt="{{ vm.collectionGroups[$index + 1].title }}" class="component-container_multimedia">
                            <h2 class="component-container_title padding-left-10">{{ vm.collectionGroups[$index + 1].title }}</h2>
                            <div class="component-container_moreInfo">
                                <i class="fa fa-plus-circle"></i>
                                <label>MORE<br />INFO</label>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>