<div class="col-md-12" ng-controller="instockCtrl as vm">
    <div class="row">
        <aside class="col-sm-3 col-xs-4">
            <div class="row submenu-selected submenu-selected-smtopmargin">
                <div class="col-xs-12 submenu-selected-title">
                    <h3 class="text-uppercase">
                        {{::vm.labels.inStock}}
                    </h3>
                </div>
            </div>
            <ul class="active-submenu active-submenu-smtopmargin">
                <li>
                    <a ng-href="{{::vm.navigation.inStockSamples}}" ng-class="(vm.isSample)? 'active':''">{{::vm.labels.inStockSamples}}</a>
                </li>
                <li>
                    <a ng-href="{{::vm.navigation.inStockTiles}}" ng-class="(vm.isSample)? '':'active'">{{::vm.labels.inStockTiles}}</a>
                </li>
            </ul>
        </aside>
        <div class="col-sm-9 col-xs-8">
            <h1 class="heading-sec">{{ ::vm.section.title }} </h1>
            <a href="#" class="breadcrumds"><u>{{vm.labels.collections}}</u> <i class="fa fa-angle-double-right"></i></a>
            <div class="text-section" ng-bind-html="::vm.section.description"></div>
            <div class="row filter">

            </div>
            <div class="row">
                <div ng-repeat="tile in vm.tiles">
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                    <div class="col-md-4 blue-box">
                        <div class="content-tile">
                            <div class="row">
                                <div class="col-md-12">
                                    <img ng-src="{{ tile.mosaic }}" alt="{{ tile.name }}" class="img-responsive thumbnail animate-show-fade" fade-in>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 tile-body">
                                    <div>
                                        <h2>{{ tile.name }}</h2>
                                        <label class="title-tile">CUSTOM:</label>
                                        <ul class="list-inline title-tile">
                                            <li>{{ tile.size }}</li>
                                        </ul>
                                    </div>
                                    <ul class="list-inline tile-options">
                                        <li>
                                            <a href="#" ng-click="vm.showTileDetail(tile.id)">
                                                <i class="fa fa-plus-circle"></i>
                                                <p>{{ vm.labels.moreInfo | uppercase }}</p>
                                            </a>
                                        </li>
                                        <li ng-if="tile.hasInstallationPhotos">
                                            <a href="#" ng-click="vm.showInstallationPhoto(tile.id)">
                                                <i class="fa fa-eye"></i><p>{{ vm.labels.photos | uppercase }}</p>
                                            </a>
                                        </li>
                                        <li ng-if="tile.hasSample">
                                            <a href="#">
                                                <img src="/static/img/Icon-Free-Sample-Granada-Tile-Cement.svg" alt="">
                                                <p>{{ vm.labels.orderFree | uppercase }}</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
