<li>
    <div class="row menu-browse-collections">
        <div class="col-sm-8">
            <h4 class="text-center">{{::vm.labels.browse}}</h4>
            <div class="col-sm-12">
                <div class="col-sm-4 tile-collection" ng-repeat="collection in vm.menuCollections">
                    <img ng-src="{{::collection.image}}" class="img-responsive" alt="{{::collection.title}}" width="100" height="100">
                    <a ng-href="{{::collection.url}}">
                        <span>{{::collection.title}}</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <h4>{{::vm.labels.productInformation}}</h4>
            <ul>
                <li><a href="">{{::vm.labels.inStockSamples}}</a></li>
                <li><a href="">{{::vm.labels.inStockTiles}}</a></li>
                <li><a ng-href="{{::vm.navigation.compareProducts}}">{{::vm.labels.compareProducts}}</a></li>
                <li><a href="">{{::vm.labels.cementVsCeramic}}</a></li>
                <li><a href="">{{::vm.labels.colorPalletes}}</a></li>
                <li><a ng-href="{{::vm.navigation.catalogs}}">{{::vm.labels.catalogs}}</a></li>
            </ul>
        </div>
    </div>
</li>