{% extends "base.html" %}
{% load i18n content %}

{% block seo %}
    {% section 5 LANGUAGE_CODE  as section %}
    <title>{{ section.page_title }}</title>
    <style>
        .carousel-indicators{
            display:none;
        }
    </style>
    {% content_meta_tags section %}
{% endblock seo %}

{% block content%}
<div class="row">
    <ng-include src="'{{STATIC_URL}}app/galleries/templates/galleriesList.html'"></ng-include>
</div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 5,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    gallery: '{% trans 'Gallery'%}',
                    designedBy: 'Designed by',
                    photographer: 'Photographer'
                }
            }
        };
    })();
</script>
{% endblock js%}