{% extends "base.html" %}
{% load i18n content %}

{% block seo %}
    {% section 6 LANGUAGE_CODE  as section %}
    <title>{{ section.page_title }}</title>
    {% content_meta_tags section %}
{% endblock seo %}

{% block content%}
    <div class="row">
        <ng-include src="'{{STATIC_URL}}app/news/templates/articlesList.html'"></ng-include>
    </div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 6,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    news: '{% trans 'News'%}',
                    date: '{% trans 'Date'  %}',
                    magazine: '{% trans 'Magazines'%}',
                    catalog: '{% trans 'Catalogs / Inspiration Books'%}',
                    blog: '{% trans 'Cement Tile Blog'%}',
                    video: '{% trans 'Videos'%}'
                },
                navigation:{
                    magazine: '{% url 'sr-news:sr-news' %}',
                    catalog: '{% url 'sr-news:sr-catalogs' %}',
                    video: '{% url 'sr-news:sr-videos' %}'
                }
            }
        }
    })();
</script>
{% endblock js%}