{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles - {% trans 'Catalogs / Inspirations Books'%} {% endblock %}

{% block content%}
    <ng-include src="'{{STATIC_URL}}app/news/templates/catalogsList.html'"></ng-include>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 7,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    news: '{% trans 'Catalogs / Inspirations Books'%}'
                }
            }
        }
    })();
</script>
{% endblock js%}