{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles - {% trans 'Catalogs / Inspirations Books'%} {% endblock %}

{% block content%}
<div class="row">
    <ng-include src="'{{STATIC_URL}}app/news/templates/catalogsList.html'"></ng-include>
</div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 7,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    news: '{% trans 'Catalogs / Inspirations Books'%}',
                    magazine: '{% trans 'Magazines'%}',
                    catalog: '{% trans 'Catalogs / Inspiration Books'%}',
                    blog: '{% trans 'Cement Tile Blog'%}',
                    video: '{% trans 'Videos'%}'
                },
                navigation:{
                    magazine: '{% url 'sr-news:sr-news' %}',
                    catalog: '{% url 'sr-news:sr-catalogs' %}',
                    video: '{% url 'sr-news:sr-videos' %}'
                }
            }
        }
    })();
</script>
{% endblock js%}