<div class="col-md-12" ng-controller="articlesListCtrl as vm">
    <div class="row">
        <aside class="col-md-4">
            <ul>
                <li><a href="">Magazines</a></li>
                <li><a href="">Catalogs / Inspiration Books</a></li>
                <li><a href="">Cement Tile Blog</a></li>
                <li><a href="">Videos</a></li>
            </ul>
        </aside>
        <div class="col-md-8">
            <h2>{{ ::vm.title }}</h2>
            <p ng-bind-html="::vm.description"></p>
        </div>
    </div>
    <div class="row">
        <div class="btn-group col-md-2 pull-right">
            <button type="button" class="btn btn-info">2015</button>
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">2015</a></li>
                <li><a href="#">2014</a></li>
                <li><a href="#">2013</a></li>
            </ul>
        </div>
    </div>
    <div ng-repeat="article in ::vm.articles" ng-if="$index % 2 == 0" class="row" >
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{ ::vm.articles[$index].image }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h2>{{ ::vm.articles[$index].title }}</h2>
                    <h3>{{ ::vm.articles[$index].name }}</h3>
                    <p ng-bind-html="::vm.articles[$index].description"></p>
                    <lable>{{ ::vm.articles[$index].date }}</lable>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-4">
                    <img ng-src="{{ ::vm.articles[$index + 1].image }}" alt="" class="img-responsive">
                </div>
                <div class="col-md-8">
                    <h2>{{ ::vm.articles[$index + 1].title }}</h2>
                    <h3>{{ ::vm.articles[$index + 1].name }}</h3>
                    <p ng-bind-html="::vm.articles[$index + 1].description"></p>
                    <lable>{{ ::vm.articles[$index + 1].date }}</lable>
                </div>
            </div>
        </div>
    </div>
</div>