<div class="col-md-12" ng-controller="articlesListCtrl as vm">
    <div class="row">
        <aside class="col-md-3 ">
            <ul class="menu-section">
                <li><a href="">Magazines</a></li>
                <li><a href="">Catalogs / Inspiration Books</a></li>
                <li><a href="">Cement Tile Blog</a></li>
                <li><a href="">Videos</a></li>
            </ul>
        </aside>
        <div class="col-md-9">
            <h1 class="heading-sec">{{ ::vm.title }}</h1>
            <a href="#" class="breadcrumds"><u>{{ vm.breadcrumds }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div class="text-section" ng-bind-html="::vm.description"></div>
        </div>
    </div>
    <div class="row filter">
        <div class="col-md-2 pull-right  text-right">
            <div class="btn-group">
                <button type="button" class="btn btn-info">2015</button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#">2015</a></li>
                    <li><a href="#">2014</a></li>
                    <li><a href="#">2013</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-repeat="article in ::vm.articles" ng-if="$index % 2 == 0" class="row component-space-row" >
        <div class="col-md-6" ng-if="$index <= vm.articles.length - 1">
            <a href="#">
                <div class="component-container">
                    <div class="row component-container_padding15">
                        <div class="col-md-4">
                            <img ng-src="{{ ::vm.articles[$index].image }}" alt="" class="thumbnail img-responsive component-container_multimedia component-container_multimedia--shadow">
                        </div>
                        <div class="col-md-8">
                            <h2 class="component-container_title">{{ ::vm.articles[$index].title }}</h2>
                            <h3 class="component-container_subtitle">{{ ::vm.articles[$index].magazine }}</h3>
                            <p class="component-container_text" ng-bind-html="::vm.articles[$index].description"></p>
                            <label class="component-container_text">Date:</label><label class="component-container_text">{{ ::vm.articles[$index].date }}</label>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 article" ng-if="$index + 1 <= vm.articles.length - 1">
            <a href="#">
                <div class="component-container">
                    <div class="row component-container_padding15">
                        <div class="col-md-4">
                            <img ng-src="{{ ::vm.articles[$index + 1].image }}" alt="" class="thumbnail img-responsive component-container_multimedia component-container_multimedia--shadow">
                        </div>
                        <div class="col-md-8">
                            <h2 class="component-container_title">{{ ::vm.articles[$index + 1].title }}</h2>
                            <h3 class="component-container_subtitle">{{ ::vm.articles[$index + 1].magazine }}</h3>
                            <p class="component-container_text" ng-bind-html="::vm.articles[$index + 1].description"></p>
                            <label class="component-container_text">Date:</label><label class="component-container_text">{{ ::vm.articles[$index + 1].date }}</label>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>