<div class="col-md-12" ng-controller="catalogListCtrl as vm">
    <div class="row">
        <aside class="col-sm-3">
            <ng-include src="::vm.menuNewsTemplateUrl"></ng-include>
        </aside>
        <div class="col-sm-9">
            <h1 class="heading-sec">{{ ::vm.section.title }}</h1>
            <a href="#" class="breadcrumds"><u>{{ ::vm.labels.newsPress }}</u> <i class="fa fa-angle-double-right"></i></a>
            <a href="#" class="breadcrumds"><u>{{ ::vm.labels.news }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div ng-bind-html="vm.section.description | unsafe" class="text-section"></div>
        </div>
    </div>
    <div ng-repeat="catalog in vm.catalogs" ng-if="$index % 3 == 0" class="row">
        <div class="col-md-4 blue-box" ng-if="$index <= vm.catalogs.length - 1">
            <div class="content-catalog">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index].image }}" alt="{{ ::vm.catalogs[$index].name }}" class="shadow-image thumbnail img-responsive">
                </a>
                <div class="catalog-body">
                    <h2>{{ ::vm.catalogs[$index].name }}</h2>
                    <ul class="list-inline catalog-options">
                        <li><a href="#"><i class="fa fa-eye"></i><br />{{ ::vm.labels.view | uppercase }}</a></li>
                        <li><a target="_self" href="{{ ::vm.catalogs[$index].file }}"><i class="fa fa-download"></i><br />{{ ::vm.labels.download | uppercase }}</a></li>
                        <li><a href="#" ng-click="vm.share()"><i class="fa fa-share-alt"></i><br />{{ ::vm.labels.shared | uppercase }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 blue-box" ng-if="$index + 1 <= vm.catalogs.length - 1">
            <div class="content-catalog">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index + 1].image }}" alt="{{ ::vm.catalogs[$index + 1].name }}" class="shadow-image thumbnail img-responsive">
                </a>
                <div class="catalog-body">
                    <h2>{{ ::vm.catalogs[$index + 1].name }}</h2>
                    <ul class="list-inline catalog-options">
                        <li><a href="#"><i class="fa fa-eye"></i><br />{{ ::vm.labels.view | uppercase }}</a></li>
                        <li><a target="_self" href="{{ ::vm.catalogs[$index + 1].file }}"><i class="fa fa-download"></i><br />{{ ::vm.labels.download | uppercase }}</a></li>
                        <li><a href="#" ng-click="vm.share()"><i class="fa fa-share-alt"></i><br />{{ ::vm.labels.shared | uppercase }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 blue-box" ng-if="$index + 2 <= vm.catalogs.length - 1">
            <div class="content-catalog">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index + 2].image }}" alt="{{ ::vm.catalogs[$index + 2].name }}" class="shadow-image thumbnail img-responsive">
                </a>
                <div class="catalog-body">
                    <h2>{{ ::vm.catalogs[$index + 2].name }}</h2>
                    <ul class="list-inline catalog-options">
                        <li><a href="#"><i class="fa fa-eye"></i><br />{{ ::vm.labels.view | uppercase }}</a></li>
                        <li><a target="_self" href="{{ ::vm.catalogs[$index + 2].file }}"><i class="fa fa-download"></i><br />{{ ::vm.labels.download | uppercase }}</a></li>
                        <li><a href="#" ng-click="vm.share()"><i class="fa fa-share-alt"></i><br />{{ ::vm.labels.shared | uppercase }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>