<div class="col-md-12" ng-controller="catalogListCtrl as vm">
    <div class="row">
        <aside class="col-md-3">
            <ng-include src="::vm.menuNewsTemplateUrl"></ng-include>
        </aside>
        <div class="col-md-9">
            <h1 class="heading-sec">{{ ::vm.title }}</h1>
            <a href="#" class="breadcrumds"><u>{{ ::vm.breadcrumds }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div ng-bind-html="vm.description" class="text-section"></div>
        </div>
    </div>
    <div ng-repeat="catalog in vm.catalogs" ng-if="$index % 3 == 0" class="row component-space-row" >
        <div class="col-md-4" ng-if="$index <= vm.catalogs.length - 1">
            <div class="component-container">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index].image }}" alt="" class="thumbnail img-responsive
                     component-container_multimedia component-container_multimedia--shadow">
                </a>
                <div class="component-container_footer">
                    <h2 class="component-container_title">{{ ::vm.catalogs[$index].name }}</h2>
                    <ul class="list-inline component-container_ItemList">
                        <li>
                            <a href="#"><i class="fa fa-eye"></i><br />VIEW</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-download"></i><br />DOWNLOAD</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-share-alt"></i><br />SHARED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-if="$index + 1 <= vm.catalogs.length - 1">
            <div class="component-container">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index + 1].image }}" alt="" class="thumbnail img-responsive
                     component-container_multimedia component-container_multimedia--shadow">
                </a>
                <div class="component-container_footer">
                    <h2 class="component-container_title">{{ ::vm.catalogs[$index + 1].name }}</h2>
                    <ul class="list-inline component-container_ItemList">
                        <li>
                            <a href="#"><i class="fa fa-eye"></i><br />VIEW</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-download"></i><br />DOWNLOAD</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-share-alt"></i><br />SHARED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" ng-if="$index + 2 <= vm.catalogs.length - 1">
            <div class="component-container">
                <a href="#">
                    <img ng-src="{{ ::vm.catalogs[$index + 2].image }}" alt="" class="thumbnail img-responsive
                     component-container_multimedia component-container_multimedia--shadow">
                </a>
                <div class="component-container_footer">
                    <h2 class="component-container_title">{{ ::vm.catalogs[$index + 2].name }}</h2>
                    <ul class="list-inline component-container_ItemList">
                        <li>
                            <a href="#"><i class="fa fa-eye"></i><br />VIEW</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-download"></i><br />DOWNLOAD</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-share-alt"></i><br />SHARED</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>