{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles - {% trans 'Collections'%} {% endblock %}

{% block content%}
<div class="row">
    <ng-include id="gt-main-groups" src="'{{STATIC_URL}}app/tiles/templates/groupList.html'"></ng-include>
</div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                collectionId: {{collection_id}},
                labels: {
                    gallery: '{% trans 'Gallery'%}',
                    title: '{% trans 'Interactive Catalog' %}',
                    interactiveCatalog: '{% trans 'Interactive Catalog' %}',
                    customCement: '{% trans 'Custom Cement Tiles' %}',
                    about: '{% trans 'About the ' %}',
                    applications: '{% trans 'Applications of Cement Tile' %}',
                    galleryMenu: '{% trans ' Gallery' %}',
                    technical: '{% trans 'Technical Specifications' %}',
                    ordering: '{% trans 'Ordering Cement Tile' %}',
                    installing: '{% trans 'Installing Cement Tile' %}',
                    moreInfo: '{% trans 'more info' %}'
                }
            }
        }
    })();
</script>
{% endblock js%}