{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles - {% trans 'Collections'%} {% endblock %}

{% block content%}
    <ng-include id="gt-main-groups" src="'{{STATIC_URL}}app/tiles/templates/groupList.html'">
    </ng-include>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                collectionId: {{collection_id}},
                labels: {
                    gallery: '{% trans 'Gallery'%}',
                    title: '{% trans 'Interactive Catalog' %}'
                }
            }
        };
    })();
</script>
{% endblock js%}