﻿{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tile - {% trans 'Tiles'%} {% endblock %}

{% block content%}
<div class="row">
    <ng-include id="gt-main-groups" src="'{{STATIC_URL}}app/tiles/templates/tileList.html'"></ng-include>
</div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                collectionId: {{collection_id}},
                groupId:{{group_id}},
                labels: {
                    interactiveCatalog: '{% trans 'Interactive Catalog' %}',
                    customCement: '{% trans 'Custom Cement Tiles' %}',
                    about: '{% trans 'About the ' %}',
                    applications: '{% trans 'Applications of Cement Tile' %}',
                    galleryMenu: '{% trans ' Gallery' %}',
                    technical: '{% trans 'Technical Specifications' %}',
                    ordering: '{% trans 'Ordering Cement Tile' %}',
                    installing: '{% trans 'Installing Cement Tile' %}',
                    show_only: '{% trans 'Show only' %}',
                    new_tile: '{% trans 'New' %}',
                    stock: '{% trans 'In Stock' %}',
                    special: '{% trans 'Specials' %}',
                    size: '{% trans 'Sizes' %}',
                    style: '{% trans 'Styles' %}',
                    moreInfo: '{% trans 'More Info' %}',
                    photos: '{% trans 'Installation Photos' %}',
                    orderFree: '{% trans 'ORDER FREE SAMPLE' %}',
                    all: '{% trans 'All' %}'
                }
            }
        }
    })();
</script>
{% endblock js%}