{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tile - {% trans 'Tiles'%} {% endblock %}

{% block content%}
<div class="row">
    <ng-include id="gt-main-groups" src="'{{STATIC_URL}}app/tiles/templates/tileList.html'"></ng-include>
</div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                collectionId: {{collection_id}},
                groupId:{{group_id}},
                navigation:{
                    cart: '{% url 'sr-cart:sr-home'%}'
                },
                labels: {
                    interactiveCatalog: '{% trans 'Interactive Catalog' %}',
                    customCement: '{% trans 'Custom Cement Tiles' %}',
                    about: '{% trans 'About the ' %}',
                    applications: '{% trans 'Applications of Cement Tile' %}',
                    galleryMenu: '{% trans ' Gallery' %}',
                    technical: '{% trans 'Technical Specifications' %}',
                    ordering: '{% trans 'Ordering Cement Tile' %}',
                    installing: '{% trans 'Installing Cement Tile' %}',
                    show_only: '{% trans 'Show only' %}',
                    new_tile: '{% trans 'New' %}',
                    stock: '{% trans 'In Stock' %}',
                    special: '{% trans 'Specials' %}',
                    size: '{% trans 'Sizes' %}',
                    style: '{% trans 'Styles' %}',
                    moreInfo: '{% trans 'More Info' %}',
                    photos: '{% trans 'Installation Photos' %}',
                    orderFree: '{% trans 'Order Free Sample' %}',
                    saveToPortfolio: '{% trans 'Save To Portfolio' %}',
                    addedPortfolio: '{% trans 'Added To Portfolio' %}',
                    tearSheet: '{% trans 'Tear Sheet' %}',
                    printPage: '{% trans 'Print Page' %}',
                    colors: '{% trans 'Colors' %}',
                    selectSize: '{% trans 'Select Size' %}',
                    styles: '{% trans 'Styles' %}',
                    thickness: '{% trans 'Thickness' %}',
                    weight: '{% trans 'Weight' %}',
                    uses: '{% trans 'Uses' %}',
                    leadTime: '{% trans 'Lead Time' %}',
                    retailPrice: '{% trans 'Retail Price' %}',
                    order: '{% trans 'Order' %}',
                    inputSquareFootage: '{% trans 'Input Square Footage' %}',
                    estimateShippingCost: '{% trans 'Estimate Shipping Cost' %}',
                    destinationZip: '{% trans 'Destination Zip' %}',
                    calculate: '{% trans 'Calculate' %}',
                    subtotal: '{% trans 'Subtotal' %}',
                    discount: '{% trans 'Discount' %}',
                    shipping: '{% trans 'Shipping' %}',
                    yourCost: '{% trans 'Your Cost' %}',
                    addToCart: '{% trans 'Add To Cart' %}',
                    estimatedDelivery: '{% trans 'Estimated Delivery Time' %}',
                    weeks: '{% trans 'Weeks' %}',
                    customize: '{% trans 'Customize'%}',
                    tileCalculationDetail: '{% trans 'Tile calculation detail' %}',
                    all: '{% trans 'All' %}',
                    collection: '{% trans 'Collections' %}',
                    perTile: '{% trans 'Per Tile'%}',
                    perSqFt: '{% trans 'Per Square Foot'%}',
                    per: '{% trans 'Per' %}',
                    shipFrom: '{% trans 'Ship From' %}',
                    similarTiles: '{% trans 'Similar Tiles'%}'
                }
            }
        }
    })();
</script>
<script>
// Add the CSRF Token
var app = angular.module('app.tiles');
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
{% endblock js%}