{% extends "base.html" %}
{% load i18n content %}

{% block title %} Login to your Granada Tile Portfolio {% endblock %}

{% block content %}
<ng-include src="'{{ STATIC_URL }}app/portfolio/templates/portfolioLogin.html'">
</ng-include>
{% endblock content %}

{% block js%}
{% get_current_language as LANGUAGE_CODE %}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    logInToYourPortfolio: '{% trans 'Log in to your Granada Tile Portfolio'%}',
                    view_collection: '{% trans 'View collection' %}',
                    getInspired: '{%trans 'Get inspired by Residential and Commercial installation photos'%}',
                    thenChoose: '{%trans 'then choose from in stock and custom tiles.'%}',
                    testominalsIntro: '{% trans 'Read what our architect, designer, and homeowner clients say'%}'
                }
            }
        };
    })();
</script>
{% endblock js %}