<div class="col-md-12" ng-controller="galleryListCtrl as vm">
    <div class="row">
        <h2>{{ ::vm.title }}</h2>
        <p ng-bind-html="::vm.description"></p>
    </div>
    <div class="row">
        <div class="col-md-6" ng-repeat="gallery in ::vm.galleries">
            <div class="gallery-content">
                <img ng-src="{{ gallery.image }}" alt="" class="img-responsive">
                <div>
                    <h2>{{ gallery.name }}</h2>
                    <ul class="list-inline">
                        <li ng-repeat="category in gallery.categories"><a href="" data-toggle="modal" data-target="#myModal">{{ category.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
