<div class="col-md-12" ng-controller="galleryListCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-sec">{{ ::vm.section.title }}</h2>
            <a class="breadcrumds" href="#"><u>{{ ::vm.breadcrumds }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div class="text-section" ng-bind-html="::vm.section.description"></div>
        </div>
    </div>
    <div ng-repeat="gallery in vm.galleries" ng-if="$index % 2 == 0" class="row">
        <div class="col-md-6 blue-box" ng-if="$index <= vm.galleries.length - 1 && vm.galleries[$index].categories.length > 0">
            <div class="blue-box-content">
                <img ng-src="{{ ::vm.galleries[$index].image }}" alt="{{ ::vm.galleries[$index].name }}" class="img-responsive">
                <h2>{{ ::vm.galleries[$index].name }}</h2>
                <ul class="list-inline blue-box-options">
                    <li ng-repeat="category in vm.galleries[$index].categories">
                        <a href="#" ng-click="vm.showGallery(category.id)">{{ ::category.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 blue-box" ng-if="$index + 1 <= vm.galleries.length - 1 && vm.galleries[$index + 1].categories.length > 0">
            <div class="blue-box-content">
                <img ng-src="{{ ::vm.galleries[$index + 1].image }}" alt="{{ ::vm.galleries[$index + 1].name }}" class="img-responsive">
                <h2>{{ ::vm.galleries[$index + 1].name }}</h2>
                <ul class="list-inline blue-box-options">
                    <li ng-repeat="category in vm.galleries[$index + 1].categories">
                        <a href="#" ng-click="vm.showGallery(category.id)">{{ ::category.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
