<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="vm.close()">&times;</button>
    <!--<h4 class="modal-title">Modal Title</h4>-->
</div>
<div class="modal-body">
    <div>
        <div>
            <carousel interval="5000" no-wrap="false" id="gt-gallery-carousel">
                <slide ng-repeat="slide in vm.gallery" active="slide.active">
                    <img class="gt-gallery-img" ng-src="{{::slide.image}}" alt="{{::slide.title}}" />
                    <div>
                        <div class="row">
                            <div class="col-md-8">
                                <h1>{{::slide.title}}</h1>
                            </div>
                            <div class="col-md-4 text-right">
                                <h2 class="pull-right" ng-if="slide.designer">{{::vm.labels.designedBy}} {{::slide.designer}}</h2>
                            </div>
                        </div>
                        
                        <p ng-bind-html="slide.description | unsafe"></p>
                        <p>{{::slide.designer}}</p>
                        <p ng-if="slide.photographer">{{::vm.labels.photographer}}: {{::slide.photographer}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>
