<div class="col-md-12" ng-controller="galleryListCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-sec">{{ ::vm.title }}</h2>
            <a class="breadcrumds" href="#"><u>{{ ::vm.breadcrumds }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div class="text-section" ng-bind-html="::vm.description"></div>
        </div>
    </div>
    <div ng-repeat="gallery in vm.galleries" ng-if="$index % 2 == 0" class="row component-space-row" >
        <div class="col-md-6" ng-if="$index <= vm.galleries.length - 1">
            <div class="component-container component-container_padding5">
                <img ng-src="{{ ::vm.galleries[$index].image }}" alt="{{ ::vm.galleries[$index].name }}" class="img-responsive component-container_multimedia">
                <div class="component-container_footer">
                    <h2 class="component-container_title">{{ ::vm.galleries[$index].name }}</h2>
                    <ul class="list-inline component-container_OptionList">
                        <li ng-repeat="category in vm.galleries[$index].categories"><a href="#" ng-click="vm.showGallery(category.id)">{{ ::category.name }}</a></li>
                    </ul>
                 </div>
            </div>
        </div>
        <div class="col-md-6" ng-if="$index + 1 <= vm.galleries.length - 1">
            <div class="component-container component-container_padding5">
                <img ng-src="{{ ::vm.galleries[$index + 1].image }}" alt="{{ ::vm.galleries[$index + 1].name }}" class="img-responsive component-container_multimedia">
                <div class="component-container_footer">
                    <h2 class="component-container_title">{{ ::vm.galleries[$index + 1].name }}</h2>
                    <ul class="list-inline component-container_OptionList">
                        <li ng-repeat="category in vm.galleries[$index + 1].categories"><a href="#" ng-click="vm.showGallery(category.id)">{{ ::category.name }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
