{% extends "base.html" %}
{% load i18n content %}

{% section 9 LANGUAGE_CODE  as section %}

{% block title %} {{ section.title }} {% endblock %}

{% block seo %} {% content_meta_tags section %} {% endblock %}

{% block content%}

{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 3,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    aboutUs: '{% trans 'About us'%}'
                }
            }
        };
    })();
</script>
{% endblock js%}