{% extends "base.html" %}
{% load i18n content %}

{% section 4 LANGUAGE_CODE  as section %}

{% block title %} {{ section.title }} {% endblock %}

{% block seo %} {% content_meta_tags section %} {% endblock %}

{% block content%}
    <div class="row">
        <ng-include src="'{{STATIC_URL}}app/content/templates/compareProducts.html'"></ng-include>
    </div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 4,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                   
                },
                navigation:{
                   
                }
            }
        };
    })();
</script>
{% endblock js%}