{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles - {% trans 'Videos'%} {% endblock %}

{% block content%}
    <div class="row">
        <ng-include src="'{{STATIC_URL}}app/content/templates/videos.html'"></ng-include>
    </div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 3,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    aboutUs: '{% trans 'Videos'%}',
                    magazine: '{% trans 'Magazines'%}',
                    catalog: '{% trans 'Catalogs / Inspiration Books'%}',
                    blog: '{% trans 'Cement Tile Blog'%}',
                    video: '{% trans 'Videos'%}'
                },
                navigation:{
                    magazine:'{% url 'sr-news:sr-news' %}',
                    catalog: '{% url 'sr-news:sr-catalogs' %}',
                    video: '{% url 'sr-news:sr-videos' %}'
                }
            }
        };
    })();
</script>
{% endblock js%}