{% extends "base.html" %}
{% load i18n content %}

{% block seo %}
    <title>Granada Tile - Search</title>
{% endblock seo %}

{% block content%}
    <div class="row">
        <ng-include src="'{{STATIC_URL}}app/content/templates/search.html'"></ng-include>
    </div>
{% endblock content%}

{% block js%}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 0,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    searchResults: '{% trans 'Search Results'%}',
                    viewProduct: '{% trans 'View Product' %}',
                    custom: '{% trans 'Custom' %}',
                    inStock: '{% trans 'In Stock'%}'
                }
            }
        };
    })();
</script>
{% endblock js%}