<div class="col-xs-12" ng-controller="portfolioHomeCtrl as vm">
    <div class="row">
        <aside class="col-sm-3 col-xs-4">
            <ng-include src="vm.portfolioAsideMenuTemplateURl"></ng-include>
        </aside>
        <div class="col-sm-9 col-xs-8">
            <h1 class="heading-sec">{{ ::vm.section.title }} </h1>
            <a  class="breadcrumds"><u>{{::vm.labels.myPortfolio}}</u></a>
            <div class="text-section" ng-bind-html="::vm.section.description | unsafe"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div ng-repeat="tile in vm.tiles">
            <div class="clearfix" ng-if="$index % 4 == 0"></div>
            <div class="col-md-3 blue-box animate-show" ng-show="!tile.removed">
                <div class="content-catalog">
                    <a href="">
                        <img src="{{ ::tile.image }}" alt="" class="shadow-image thumbnail img-responsive">
                    </a>
                    <div class="catalog-body">
                        <h2>{{ ::tile.name }}</h2>
                        <ul class="list-inline catalog-options row">
                            <li class="col-md-3">
                                <a ng-href="{{::tile.url}}"><i class="fa fa-shopping-cart"></i><br>BUY</a>
                            </li>
                            <li class="col-md-3"><a href=""><i class="fa fa-beer"></i><br>EDIT</a></li>
                            <li class="col-md-3">
                                <a href="" ng-click="vm.shareTile(tile)"><i class="fa fa-share-alt"></i><br>SHARE</a>
                            </li>
                            <li class="col-md-3">
                                <a href="" ng-click="vm.removeTile(tile)"><i class="fa fa-times-circle-o"></i><br>DELETE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>