<div class="row submenu-selected submenu-selected-smtopmargin">
    <div class="col-xs-12 submenu-selected-title">
        <h3 class="text-uppercase">
            {{::vm.labels.welcome}} {{vm.loggedUser}}
        </h3>
    </div>
</div>
<ul class="active-submenu active-submenu-smtopmargin">
    <li>
        <a ng-href="{{::vm.navigation.portfolio}}">{{::vm.labels.tilesInMyPortfolio}}</a>
    </li>
    <li>
        <a ng-href="{{::vm.navigation.layouts}}">{{::vm.labels.layouts}}</a>
    </li>
    <li>
        <a>{{::vm.labels.myAccount}}</a>
    </li>
    <li>
        <a ng-href="{{vm.logoutUrl}}">{{::vm.labels.logout}}</a>
    </li>
</ul>