<div class="col-xs-12 fadeInUp form-horizontal text-center" ng-controller="portfolioLoginCtrl as vm">
    <h1 class="heading-sec">{{::vm.labels.logInToYourPortfolio}}</h1>
    <br />
    <form action="/" method="post" id="login-form" class="col-sm-offset-4 col-sm-4">
        <fieldset>
            <div class="form-group">
                <input class="form-control" type="text"
                       ng-model="vm.login.user" placeholder="Email"
                       id="username" name="username" />
            </div>
            <div class="form-group">
                <input class="form-control" type="password"
                       ng-model="vm.login.password" placeholder="Password"
                       id="password" name="password" />
            </div>
        </fieldset>
    </form>
</div>