<div class="col-md-12" ng-controller="aboutUsCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="heading-sec">{{::vm.section.title}}</h2>
            <a class="breadcrumds" href="#"><u>{{ ::vm.breadcrumds }}</u> <i class="fa fa-angle-double-right"></i></a>
            <div class="text-section" ng-bind-html="::vm.section.description"></div>
        </div>
    </div>
    <div class="row">
        <form id="contact-us-form" class="col-md-12">

        </form>
    </div>
</div>