<div class="col-xs-12 text-center" ng-controller="indexCtrl as vm">
    <div class="row">
        <div ng-bind-html="::vm.slogan" class="col-xs-12"></div>
    </div>
    <hr>
    <div class="row">
        <h2 class="heading-sec">{{::vm.explore}}</h2>
    </div>
    <div class="row explore-collections" ng-repeat="collection in ::vm.collections">
        <div ng-if="($index % 2 == 0)">
            <div class="col-md-6 explore-collection-content">
                <h3>{{::collection.title}}</h3>
                <div class="description" ng-bind-html="::collection.description"></div>
                <button class="btn btn-green text-uppercase">View collection</button>
            </div>
            <div class="col-md-6 explore-collection-thumbnail">
                <img ng-src="{{::collection.image}}" alt="Collection Image" class="img-responsive" />
            </div>
        </div>
        <div ng-if="($index % 2 != 0)">
            <div class="col-md-6 explore-collection-thumbnail">
                <img ng-src="{{::collection.image}}" alt="Collection Image" class="img-responsive" />
            </div>
             <div class="col-md-6 explore-collection-content">
                <h3>{{::collection.title}}</h3>
                <div class="description" ng-bind-html="::collection.description"></div>
                <button class="btn btn-green text-uppercase">View collection</button>
            </div>
        </div>
    </div>
    <hr>
    <div ng-controller="testimonyCtrl as vm">
        <div class="row">
            <h2 class="heading-sec">{{::vm.intro}}</h2>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="testimony in vm.testimonials">
                <div class="testimony-content">
                    <i class="fa-quotes-left">&#8220;</i>
                    <div class="quote" ng-bind-html="testimony.description"></div>
                    <div class="author">{{::testimony.title}}</div>
                    <div class="country">{{::testimony.subtitle}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
