<ul class="menu-section" ng-controller="menuCollectionCtrl as vm">
    <li><a ng-href="{{ ::vm.navigation.magazine }}">{{ ::vm.labels.inStockSamples }}</a></li>
    <li><a ng-href="{{ ::vm.navigation.catalog }}">{{ ::vm.labels.inStockTiles }}</a></li>
    <li><a ng-href="{{ ::vm.navigation.compareProducts }}">{{ ::vm.labels.compareProducts }}</a></li>
    <li><a ng-href="{{ ::vm.navigation.cementVsCeramic }}">{{ ::vm.labels.cementVsCeramic }}</a></li>
    <li><a ng-href="{{ ::vm.navigation.colorPalletes }}">{{ ::vm.labels.colorPalletes }}</a></li>
    <li><a ng-href="{{ ::vm.navigation.catalogs }}">{{ ::vm.labels.catalogs }}</a></li>
</ul>