<div class="col-md-12" ng-controller="videoCtrl as vm">
    <div class="row article-section">
        <aside class="col-md-3">
            <ul>
                <li><a href="">Magazines</a></li>
                <li><a href="">Catalogs / Inspiration Books</a></li>
                <li><a href="">Cement Tile Blog</a></li>
                <li><a href="">Videos</a></li>
            </ul>
        </aside>
        <div class="col-md-9">
            <h1 class="heading-sec">{{ ::vm.title }}</h1>
            <a href="#" class="breadcums"><u>{{ vm.breadcums }}</u></a>
            <div class="text-section" ng-bind-html="vm.description"></div>
        </div>
    </div>
</div>
