<div class="col-md-12" ng-controller="videoCtrl as vm">
    <div class="row article-section">
        <aside class="col-md-3">
            <ul>
                <li><a href="">Magazines</a></li>
                <li><a href="">Catalogs / Inspiration Books</a></li>
                <li><a href="">Cement Tile Blog</a></li>
                <li><a href="">Videos</a></li>
            </ul>
        </aside>
        <div class="col-md-9">
            <h1 class="heading-sec">{{ ::vm.title }}</h1>
            <a href="#" class="breadcrumds"><u>{{ vm.breadcums }} <i class="fa fa-angle-double-right"></i></u></a>
            <div class="text-section" ng-bind-html="vm.description"></div>
            <div ng-repeat="video in vm.videos" ng-if="$index % 2 == 0" class="row" >
                <div class="col-md-6" ng-if="$index <= vm.videos.length - 1">
                    <div class="video-container">
                        <iframe ng-src="{{ vm.videos[$index].video }}" frameborder="0" allowfullscreen></iframe>
                        <h2>{{ vm.videos[$index].name }}</h2>
                    </div>
                </div>
                <div class="col-md-6" ng-if="$index <= vm.videos.length - 1">
                    <div class="video-container">
                        <iframe ng-src="{{ vm.videos[$index + 1].video }}" frameborder="0" allowfullscreen></iframe>
                        <h2>{{ vm.videos[$index + 1].name }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
