{% extends "base.html" %}
{% load i18n %}

{% block title %} Granada Tiles {% endblock %}

{% block main %}
<section class="col-xs-12 text-center" id="home-page-header">
    <h1>
        Cement tile is not just a tile made with cement. Cement tile has the strength of concrete & the feel of silk
    </h1>
</section>
{% endblock main %}

{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        <h2>
            Get inspired by Residential and Commercial installation photos
        </h2>
        <h3>then choose from in stock and custom tiles.</h3>
    </div>
</div>
{% endblock content %}

{% block js%}
{% get_current_language as LANGUAGE_CODE %}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", [pageSettings]);

        function pageSettings() {
            return{
                areaId: 1,
                language: '{{LANGUAGE_CODE}}'
            }
        };
    })();
</script>
{% endblock js %}