{% extends "base.html" %}

{% block title %} Granada Tiles {% endblock %}

{% block main %}
<section class="col-xs-12 text-center" id="home-page-header">
    <h1>
        Cement tile is not just a tile made with cement. Cement tile has the strength of concrete & the feel of silk
    </h1>
</section>
{% endblock main %}

{% block content %}
<div class="row">
    <div class="col-xs-12 text-center">
        <h2>
            Get inspired by Residential and Commercial installation photos
        </h2>
        <h3>then choose from in stock and custom tiles.</h3>
    </div>
</div>
{% endblock content %}