{% extends "base.html" %}
{% load i18n content %}

{% block seo %}
    {% section 1 LANGUAGE_CODE  as section %}
    <title>{{ section.page_title }}</title>
    {% content_meta_tags section %}
{% endblock seo %}


{% block main %}
<div class="row">
    <section class="col-xs-12 text-center" id="home-page-header">
        <h1>
            {% trans 'Cement tile is not just a tile made with cement. Cement tile has the strength of concrete & the feel of silk'%}
        </h1>
    </section>
</div>
{% endblock main %}

{% block content %}
<div class="row">
    <ng-include id="gt-main-content" src="'{{STATIC_URL}}app/content/templates/index.html'">
    </ng-include>
</div>
{% endblock content %}

{% block js%}
{% get_current_language as LANGUAGE_CODE %}
<script>
    (function () {
        "use strict";
        angular
        .module("app.core")
        .factory("pageSettings", ['appSettings',pageSettings]);

        function pageSettings(appSettings) {
            return{
                sectionId: 1,
                language: '{{LANGUAGE_CODE}}',
                labels: {
                    explore: '{% trans 'Explore our collections'%}',
                    view_collection: '{% trans 'View collection' %}',
                    getInspired: '{%trans 'Get inspired by Residential and Commercial installation photos'%}',
                    thenChoose: '{%trans 'then choose from in stock and custom tiles.'%}',
                    testominalsIntro: '{% trans 'Read what our architect, designer, and homeowner clients say'%}'
                }
            }
        };
    })();
</script>
{% endblock js %}