.gt-cart-tabs{
	.nav-tabs{
		padding-top: 20px;

		li.active > a,
		li.active > a:hover{
			color: @orange;
			background-color: rgba(0, 0, 0, .0001);
			border: 1px solid rgba(0, 0, 0, .0001);
			border-bottom-color: transparent; 
		}
		li > a{
			color: @darkGray;
			padding: 10px 15px 10px 0;
			background-color: rgba(0, 0, 0, .0001);
			border: 1px solid rgba(0, 0, 0, .0001);
			border-bottom-color: transparent; 				
		}
	}
}

.gt-shopping-cart-table {
	thead{
		background-color: @blue;
		tr{
			th{
				color: @white;
				font-family: @font-secundary;
				padding: 0 10px 0 10px;
				.font-configuration(@font-size: @font-sm,@font-weight: @font-normal);
			}
		}
	}

	tbody{
		tr{
			td.item{
				padding-left: 0;
			}
		}
	}

	.product-image{
		width: 140px;
		border: 4px solid white;
	}

	.media-body{
		width: 60%;

		 a{
			h2{
				color: @darkBlue;
				font-family: @font-secundary;
				margin-bottom: 0;
				.font-configuration(@font-size: @font-xlll,@font-weight:@font-normal);
			}
		}

		span{
			color: @darkGray;
			font-family: @font-primary;
			.font-configuration(@font-size: @font-sm,@font-weight:@font-normal);

		}
	}
}
.gt-table-total-price{
	color:@darkBlue;
	font-family: @font-secundary;
	.font-configuration(@font-size: @font-xl,@font-weight:@font-normal);

	.total{
		font-size: 20px;

		td{
			border-bottom: 1px solid transparent !important;
		}
	}

	tbody{ 
		td{
			padding: 4px !important;
			border-bottom: 1px solid @grayBorder !important;
		}
	}
}
.labelAuthorize{
	color:@darkGray;
	font-style: @italic;
	font-family: @font-secundary;
	.font-configuration(@font-size: @font-md,@font-weight:@font-light);
}

.gt-box-shipping{
	h3{
		margin: 0;
		padding: 10px;
		color:@white;
		font-family: @font-secundary;
		.font-configuration(@font-size: @font-sm,@font-weight:@font-light);
		background-color: @blue;
	}
	form{
		padding: 10px;
		background-color: @blueTable;
	}
}
.list-question{
	li{
		color:@darkBlue;
		font-family: @font-secundary;
	}
	.icon{
		float: left;
	}
	.question-content{
		margin-left: 25px;
		.font-configuration(@font-size: @font-xl,@font-weight:@font-bold);

		span,a{
			color:@darkBlue;
			display: block;
			.font-configuration(@font-size: @font-xl,@font-weight:@font-light);
		}
	}
}