//Define your colors here

@sylver:#D7E2E8;
@lightGray:#396F8E;
@gray:#7F7F7F;
@darkGray:#595959;
@orange:#F16531;
@lightBlue: #8ECDD1;
@geenBlue:#61ACAC;
@blue:#3A708F;
@darkBlue:#00334C;
@backgroundHomepage:#EAF0F3;
@green:#77C043;