@import "colors";
@import "fonts";
@import "mixins";
@import "base";

/********************Index page************************/

#home-page-header {
    background-color: rgba(99,172,172,0.5);
    margin-bottom:-54px;
    z-index: 100;
    h1 {
        color: white;
        font-size: 22px;
    }
}

/*******************************************************/


/********************Cover Section**********************/
#gt-cover-image{
    width:100%;
    max-height:600px;
}


/*******************************************************/