@import "colors";
@import "fonts";

body {
    font-family: @font-primary;
}
/*Mixins**/

.font-configuration(@font-size: @font-sm,@font-weight: @font-normal) {
    font-size: @font-size;
    font-weight: @font-weight;
}

.navigation-hover {
    color: @orange !important;
    background-color: transparent;
}

/*****/
/********/


/***************Styles for header***************/
header {
    box-shadow: 0 -5px 40px black;

    #gt-header-brand {
        margin-top: 15px;

        img {
            width: 131px;
        }
    }

    #gt-header-search {
        margin-top: 15px;
    }

    #gt-header-contact-info ul:first-child {
        margin-top: 10px;
        margin-bottom: 0;
        font-family: @font-secundary;
        .font-configuration(@font-sm,@font-light);

        @media screen and (max-width:1024px) {
            font-size: @font-xs;
        }

        li {
            margin: 0 2px;

            &:last-child {
                margin-right: 0;
            }

            a {
                color: @gray;

                &:hover, &:focus {
                    .navigation-hover();
                }
            }

            button {
                color: @gray;
                border-color: transparent;
                padding: 0;
                border: none;

                &:hover, &:focus {
                }
            }
        }
    }

    #gt-header-nav {
        margin-top: 10px;
        border-top: 1px solid @darkBlue;
        padding-top: 8px;

        .nav a {
            color: @darkBlue;
            font-family: @font-secundary;
            .font-configuration(@font-lg,@font-light);

            &:hover, &:focus {
                .navigation-hover();
            }

            @media screen and (max-width:1024px) {
                font-size: @font-md;
            }
        }

        .nav > li {
            margin: auto 5px;
            margin-top: 5px;
        }

        span.gt-header-nav-separator {
            margin-left: 30px;

            @media screen and (max-width:1024px) {
                margin-left: 12px;
            }
        }
    }

    #gt-toggle-custom {
        border-color: @gray;

        &:hover, &:focus {
            background-color: @lightGray;
        }

        .icon-bar {
            background-color: @darkGray;
        }
    }
}

/***********************************************/


/***************Styles for footer***************/
footer {
    background-color: @darkBlue;

    h4 {
        margin: 15px 0;
        font-family: @font-tertiary;
        font-weight: @font-normal;
        font-size: @font-xxxs;
        color: @gray;
    }
}

.social-media {
    margin: 10px 0;

    li {
        width: 21px;
        height: 21px;
        font-size: 14px;
        padding-top: 2px;
        border-radius: 50px;

        a {
            color: white;
            margin: auto;
        }
    }

    .social-facebook {
        background-color: @facebook;
    }

    .social-twitter {
        background-color: @twitter;
    }

    .social-linkedin {
        background-color: @linkedin;
    }

    .social-rss {
        background-color: @rss;
    }

    .social-yelp {
        background-color: @yelp;
    }

    .social-pinterest {
        background-color: @pinterest;
    }

    .social-instagram {
        background-color: @instagram;
    }

    .social-houzz {
        background-color: @houzz;
    }
}

/********************************************/

#home-page-header {
    background-color: rgba(99,172,172,0.5);

    h1 {
        color: white;
        font-size: 22px;
    }
}
