@import "colors";
@import "fonts";
@import "mixins";
@import "base";
@import "stylish";

/********************Index page************************/

#home-page-header {
    background-color: rgba(99,172,172,0.5);
    margin-bottom:-54px;
    z-index: 100;

    @media screen and (max-width:1200px){
        margin-bottom:-94px;
        padding: 11px;
    }

    @media screen and (max-width:768px){
        margin-top: 0;
    }

    @media screen and (max-width:760px){
        margin-top: 0;
        padding:5px;
    }
    h1 {
        color: white;
        font-size: 22px;

        @media screen and (max-width: 760px){
            font-size:18px;
        }
    }
}

.gt-residential-main{
    margin-top:-40px;
}

div.gt-index-welcome{
    > h2{
        .font-configuration(32px;@font-light);
        color:@darkBlue;
    }
    > h3{
        .font-configuration(21px, @font-light);
        color:@darkBlue;
    }
}

/*******************************************************/

/********************Cover Section**********************/

#gt-cover-image{
    width:100%;
    max-height:600px;
}

#gt-cover-spinner{
    text-align:center;
    margin-top: 65px;
    font-size: 20px;
    i{
        color:@blue;
    }
    
}

/*******************************************************/

/******Animations***************************/
//TODO need to define this later
/*#gt-main-content{
    transition:opacity linear 0.5s;
}

#gt-main-content.ng-leave{
    opacity:0;
}

#gt-main-content.ng-enter{
    opacity:0;
}

#gt-main-content.ng-enter-active{
    opacity:1;
}*/

/*****************************************/

/***********Styles Site***************/
.explore-collections{
    margin-bottom: 20px;
    padding-left:15px;
    padding-right:15px;

    .explore-collection-content{
        background-color: @lightBlue;
        height: 270px;
        text-align: left;
        padding: 20px;

        h3{
            font-family: @font-primary;
            .font-configuration(@font-xxll,@font-light);
            color: @darkBlue;
            padding-left: 20px;
        }

        .description{
            font-family: @font-primary;
            .font-configuration(@font-lg,@font-light);
            color: @darkBlue;
        }

        a.btn{
            margin: 10px 0 0 20px;
        }
    }

    .explore-collection-thumbnail{
        padding-left: 0;
        padding-right: 0;

        img{
            height: 270px;
            width: 100%;
        }
    }
}

.menu-browse-collections{

    h4{
        font-family: @font-secundary;
        .font-configuration(@font-sm,@font-light);
        color:@darkBlue;
        letter-spacing: 4px;
    }

    .tile-collection{
        text-align: center;

        img{
            margin: 0 auto;
            padding-bottom: 5px;
        }
    }
}

.testimony-content{
    background-color:@white;
    padding: 30px 55px 15px 55px;
    height: 200px;
    text-align: left;

    .fa-quotes-left{
        font-family: @font-primary;
        .font-configuration(@font-quotes,@font-light);
        color:@lightBlue;
        margin-left: -55px;
        position: absolute;
        top: 0;
    }

    .quote{
        font-family:@font-primary;
        font-style:@italic;
        .font-configuration(@font-sm,@font-light);
        color:@darkGray;
    }

    .author{
        font-family: @font-primary;
        .font-configuration(@font-xl,@font-medium);
        color:@darkGray;
        padding-top: 25px;
    }

    .country{
        font-family: @font-primary;
        .font-configuration(@font-sm,@font-light);
    }
}

.press{

    label{
        float:left;
        margin-right: 15px;
    }
}

.mainNavigation{

    margin-top:20px;

    .options{
        text-align:left;

        @media screen and (max-width:1024px){
            text-align:center;
            margin-bottom:25px;
        }

        img{
            box-shadow: 0 8px 10px -7px @gray;
        }

        div{
            font-family: @font-primary;
            .font-configuration(@font-sm,@font-light);
            color:@darkGray;
            height:85px;
        }
    }
}
.filter{
    margin-bottom: 20px;
    label{
        font-family: @font-secundary;
        .font-configuration(@font-md,@font-light);
    }
    button{
        background-color: @lightBlue;
        color: @darkBlue;
        font-family: @font-secundary;
        .font-configuration(@font-md,@font-light);
    }
    ul{
        background-color: @lightBlue;
        li a{
            color: @darkBlue;
            font-family: @font-secundary;
            .font-configuration(@font-md,@font-light);
            &:hover, &:focus {
                background-color: transparent;
                color: @white;
                text-decoration: none;
            }
        }
    }
    .checkbox-content{
        color: @darkGray;
        display: inline-block;
        p,label{
            margin: 0;
        }
        input[type=checkbox] {
            display:none;
        }
        input[type=checkbox] + label{
            cursor: pointer;
        }
        input[type=checkbox] + label:before {
            font-family: FontAwesome;
            vertical-align: middle;
        }
        input[type=checkbox] + label:before {
            color: @gray;
            content: "\f096";
            font-size: 30px;
            letter-spacing: 10px;
        }
        input[type=checkbox]:checked + label:before {
            content: "\f046";
            color: @darkBlue;
            letter-spacing: 5px;
        }
    }
}
.sub-menu-container{
    .menu-section{
        border-bottom: @orange 4px SOLID;
        padding: 0 20px 0 0;
        margin-top: 20px;
        li{
            border-bottom: @lightGray 1px SOLID;
            list-style: none;
            margin-bottom: 10px;
            a{
                color: @darkGray;
                font-family: @font-secundary;
                .font-configuration(@font-sm,@font-light);
                &:hover, &:focus{
                    color: @orange;
                    text-decoration: none;
                }
            }
        }
    }
    a{
        &:hover,&:focus{
            text-decoration: none;
            h3{
                color: @orange;
            }
        }
    }
}
.active-submenu{
    margin-top: 20px;
    padding: 0 0 10px 0;
    border-bottom: @orange 5px solid;

    > li{
        list-style: none;
        padding: 5px 0 5px 0;
        border-bottom: @lightGray 1px solid;
        a{
            color: @darkGray;
            font-family: @font-secundary;
            .font-configuration(@font-sm,@font-light);

            &:hover,
            &:focus{
                color: @orange;
                text-decoration: none;
                .font-configuration(@font-sm,@font-normal);
            }
        }
    }

    .collapsed-submenu{
        padding-left: 20px;
        
        > li{
            list-style:none;
            margin-top: 10px;
        }
    }
}

.submenu-selected{
    margin-top: 20px;

    .submenu-selected-image{
        padding-right: 0;

        img{
            width: 100%;

            @media screen and (max-width:988px){
                width:80%;
            }
        }
    }
    .submenu-selected-title{
        h3{
            color: @orange;
            font-family: @font-secundary;
            .font-configuration(@font-sm,@font-normal);

            i{
                font-size: 25px;
            }
        }
    }
}

.navigation-submenu-option{
    img{
        width: 100%;

         @media screen and (max-width:988px){
                width:95%;
            }
    }
    h3{
        color: @darkBlue;
        text-align: center;
        font-family: @font-secundary;
        .font-configuration(@font-sm,@font-normal);
    }
}

.blue-box{
    margin-bottom: 20px;
}

.blue-box-content{
    background-color: @lightSteelBlue;
    .blue-box-padding(5px);

    img, iframe{
        width: 100%;
    }

    h2{
        color: @darkBlue;
        padding-left: 10px;
        font-family: @font-secundary;
        .font-configuration(@font-xlll,@font-light);
    }

    .view-more{
        bottom: 0;
        right: 30px;
        color: @darkBlue;
        position: absolute;

        i{
            font-size: 25px;
            vertical-align: super;
        }
        label{
            font-family: @font-secundary;
            .font-configuration(@font-sm,@font-light);
        }   
    }

    .blue-box-options{
        padding-left: 10px;

        a{
            padding: 5px;
            color: @darkGray;
            border-radius: 3px;
            border: 1px solid @darkGray;
            font-family: @font-secundary;
            .font-configuration(@font-md,@font-light);

            &:hover, &:focus, &:active{
                color: @darkBlue;
                text-decoration: none;
                border-color: @lightBlue;
                background-color: @lightBlue;
            }
        }
    }
}
.content-catalog{
    background-color: @lightSteelBlue;

    .catalog-body{
        padding: 0 10px 10px;

        h2{
            color: @darkBlue;
            font-family: @font-secundary;
            .font-configuration(@font-xlll,@font-light);
        }
        .catalog-options{
            margin: 0;
            padding-top: 10px;
            border-top: 1px solid @darkGray;

            li{
                text-align: center;
                a{
                    color: @darkGray;
                    font-family: @font-secundary;
                    .font-configuration(@font-sm,@font-light);
                    &:hover, &:focus{
                        color: @darkBlue;
                        text-decoration: none;
                    }
                    i{
                        font-size: @font-xxl;
                    }
                }
            }
        }
    }
}
.content-tile {
    background-color: @lightSteelBlue;
    padding: 10px;

    img{
        margin: auto;
    }
    .label-tile{
        font-family: @font-secundary;
        .font-configuration(@font-xs,@font-light);
    }
    .tile-body {
        margin: 10px 0 20px 0;

        h2 {
            color: @darkBlue;
            font-family: @font-secundary;
            .font-configuration(@font-xlll, @font-light);
            margin: 0;
        }
        div{
            margin-bottom: 10px;
            .title-tile {
                display: inline;
                font-family: @font-secundary;
                .font-configuration(@font-sm, @font-light);
            }
        }
        .tile-options{
            margin: 0;
            padding-top: 10px;
            border-top: 1px solid @darkGray;

            li{
                margin-bottom: 10px;
                a{
                    color: @darkGray;
                    font-family: @font-secundary;
                    .font-configuration(@font-sm,@font-light);
                    display: inline-flex;
                    &:hover, &:focus{
                        color: @darkBlue;
                        text-decoration: none;
                    }
                    i,img{
                        font-size: @font-xxll;
                        margin: auto;
                        padding-right: 5px;
                    }
                    p{
                        width: 100px;
                        margin: auto;
                    }
                }
            }
            li:first-child{
                p{
                    width: 50px;
                }
            }
        }
    }


}

.article-content{
    background-color: @lightSteelBlue;

    .row{
        padding: 15px;
    }

    .article-body{
        h2{
            margin:0;
            color: @darkBlue;
            font-family: @font-secundary;
            .font-configuration(@font-xlll,@font-light);
        }
        h3{
            margin:0;
            color: @darkGray;
            font-family: @font-primary;
            .font-configuration(@font-sm,@font-bold);
        }
        p, label{
            color: @darkGray;
            font-family: @font-primary;
            .font-configuration(@font-sm,@font-light);
        }
    }
}

.social-share{
    .font-configuration(@font-xlll,@font-light);

    .fa-facebook-official{
        font-size: @font-xxll;
        color: @facebook;
    }

    .fa-twitter-square{
        font-size: @font-xxll;
        color: @twitter;
    }

    .fa-google-plus-square{
        font-size: @font-xxll;
        color: @pinterest;
    }

    .fa-linkedin-square{
        font-size: @font-xxll;
        color: @linkedin;
    }
}

/************************************/


/*********** Style Reusable *************/
.heading-sec-home {
    font-family: @font-primary;
    .font-configuration(@font-xxlll,@font-light);
    color:@darkBlue;
}
.heading-sec {
    color:@darkBlue;
    font-family: @font-primary;
    .font-configuration(@font-xxll,@font-light);
    margin-bottom: 0;

}
.text-section{
    margin: 20px 0;
    text-align: justify;
    font-family: @font-primary;
    .font-configuration(@font-sm,@font-light);
}
.slogan{
    color: @darkBlue;
    font-family: @font-primary;
    .font-configuration(@font-xlll,@font-light);
}
.btn-green{
    color:@darkBlue;
    background-color:@green;
    border-color:@olive;
    font-family:@font-secundary;
    .font-configuration(@font-md,@font-light);

    &:hover{
        background-color:@olive;
        border-color:@green;
    }
}
.btn-sky{
    color:@darkBlue;
    background-color:@lightBlue;
    border-color:@lightBlue;
    font-family:@font-secundary;
    .font-configuration(@font-md,@font-light);

    &:hover{
        background-color:@greenBlue;
        border-color:@lightBlue;
    }
}
.breadcrumds {
    color: @darkGray;
    font-style: @italic;
    font-family: @font-primary;
    .font-configuration(@font-xxxs,@font-light);

    &:hover, &:focus{
        color: @orange;
    }
}
.shadow-image{
    width: 100%;
    margin: auto;
    box-shadow: 2px 6px 5px -2px rgba(89, 89, 89, 0.5);
    -moz-box-shadow: 2px 6px 5px -2px rgba(89, 89, 89, 0.5);
    -webkit-box-shadow: 2px 6px 5px -2px rgba(89, 89, 89, 0.5);

    @media screen and (max-width:768px){
        width:80%;
    }
}
hr{
    border-top: 1px solid @lightSylver;
}

/************************************/

/*********** Style Gallery **********/
#gt-gallery-carousel{
    div{
        h1{
            color: @darkBlue;
            text-align: left;
            font-family: @font-secundary;
            .font-configuration(@font-xlll,@font-light);
        }
        p{
            color: @darkGray;
            text-align: justify;
            font-family: @font-primary;
            .font-configuration(@font-sm,@font-light);
        }
    }
}
.gt-gallery-img{
    margin: 0 auto;
}
.carousel-control.left,
.carousel-control.right{
    background-image: none;
}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
    width: 40px;
    height: 40px;
    padding: 4px;
    border-radius: 25px;
    background-color: black;
}
.modal-header {
    border-bottom: 1px solid transparent;

    .close{
        color: @blue;
        font-size: 45px;
        margin-top: -14px;
        background-color: @white;
    }
}


/***********************************/