{% load firstof from future %}
{% load admin_static bootstrapped_goodies_tags custom_admin %}
{% admin_apps as apps %}
{#{% dashboard as dashboard %}#}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block extrastyle %}{% endblock %}

    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{{STATIC_URL}}lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/AdminLTE.min.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}admin/css/skin-black-light.min.css" />
    <script type="text/javascript">
    //<![CDATA[
        window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";
        window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";
    //]]>
    </script>
    <script src="{% static "admin/js/jquery-1.9.1.min.js" %}"></script>
    {% block extrahead %}{% endblock %}
    {% block blockbots %}
    <meta name="robots" content="NONE,NOARCHIVE" />
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
        .navbar-nav > .user-menu > .dropdown-menu {
            width: 316px;
        }
    </style>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %} skin-black-light">
    <!-- Container -->
    <div class="wrapper">
        {% if not is_popup %}
        <!-- Header -->
        <header class="main-header">
            <a class="logo" href="{% url 'admin:index' %}"><b>Granada</b> Tiles</a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    {% block branding %}{% endblock %}
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% block logs %}
                        {% load log %}
                        {% get_admin_log 13 as admin_log for_user user %}
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">{{admin_log.count}}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">{% trans 'Recent Actions' %}</li>
                                <li>
                                    <ul class="menu">
                                        {% for entry in admin_log %}
                                        <li>
                                            <a href="{% if entry.is_deletion or not entry.get_admin_url %}#{% else %}{{ entry.get_admin_url }}{% endif %}">
                                                {% if entry.is_addition %}
                                                <i class="fa fa-plus"></i>
                                                {% endif %}
                                                {{ entry.object_repr }}
                                                {% if entry.content_type %}
                                                <span class="mini quiet">({% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %})</span>
                                                {% else %}
                                                <span class="mini quiet">({% trans 'Unknown content' %})</span>
                                                {% endif %}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                            </ul>
                        </li>
                        {% endblock %}
                        {% if user.is_active and user.is_staff %}
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="hidden-xs">
                                    {% trans 'Welcome,' %}
                                    <strong>
                                        {% filter force_escape %}{% firstof user.get_short_name user.get_username user.first_name user.username %}{% endfilter %}
                                    </strong>
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="user-header" style="background-color:#F2F2F2;">
                                    <img src="{{ STATIC_URL }}img/Granada-Tile-logo.png" class="img-circle" alt="Logo image" />
                                    <p style="color:#232323">
                                        Granada Tiles
                                        <small>Admin System</small>
                                    </p>
                                </li>
                                <li class="user-footer">
                                    {% if user.has_usable_password %}
                                    <div class="pull-left">
                                        <a href="{% url 'admin:password_change' %}" class="btn btn-default btn-flat">
                                            {% trans 'Change password' %}
                                        </a>
                                    </div>
                                    {% endif%}
                                    <div class="pull-right">
                                        <a href="{% url 'admin:logout' %}" class="btn btn-default btn-flat">
                                            {% trans 'Log out' %}
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% block languages %}
                        <li class="divider-vertical"></li>
                        {% language_selector %}
                        {% endblock languages %}
                        {% block userlinks %}
                        {% url 'django-admindocs-docroot' as docsroot %}
                        {% if docsroot %}
                        <li class="divider-vertical"></li>
                        <li>
                            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                        </li>
                        {% endif %}
                        {% endblock %}
                        {% endif %}
                        {% block nav-global %}{% endblock %}
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <form action="{% url 'customadmin:search' %}" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="search_term" id="search_term" class="form-control" placeholder="Search..."/>
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-flat"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
                <ul class="sidebar-menu">
                    <li class="header">{% trans 'MAIN NAVIGATION' %}</li>
                    {% for app in apps.app_list %}
                    <li class="treeview" id="{{ app.name|lower }}" data-menu-option="{{app.name}}">
                        <a href="#">
                            <i class="{{app.icon}}"></i>
                            <span>{{app.name}}</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            {% for model in app.models %}
                            <li>
                                <a href="{{model.admin_url}}">
                                   &nbsp; {{model.name}}
                                </a>
                                <!--  <a class="btn btn-xs" href="{{model.add_url}}">
                              <i class="fa fa-plus"></i> {% trans 'Add' %}
                          </a>-->
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </aside>
        {% endif %}
        <!-- Content -->
        <div id="content" class="content-wrapper {% block coltype %}colM{% endblock %}">
            <section class="content-header">
                <h1>{% block maintitle %}{% endblock %}</h1>
                {% block breadcrumbs %}
                {% endblock %}
                {% block messages %}
                {% if messages %}
                <div class="row">
                    <div class="col-sm-12">
                        {% for message in messages %}
                        <div class="alert {{ message.tags|default:"alert-info" }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
                {% endblock messages %}
            </section>
            <section class="content">
                {% block box%}
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            {% block content_title %}
                            {% if title %}
                            {% render_with_template_if_exist title|lower|add:"/admin_app_name.html" title %}
                            {% endif %}
                            {% endblock %}
                        </h3>
                        <div class="box-tools pull-right">
                            {% block navbar %}
                            {% block pretitle %}{% endblock %}
                            {% block object-tools %}{% endblock %}
                            {% endblock navbar %}
                            <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        {% block content %}{{ content }}{% endblock %}
                    </div>
                    <div class="box-footer">
                        {% block box-footer %}
                        {% endblock %}
                    </div>
                </div>
                {% endblock %}
            </section>
        </div>
    </div>
    {% block footer %}
    <footer class="main-footer" id="footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>
            Copyright &copy; 2014-2015
            <a href="http://pinoleromedia.com/">Pinolero Media</a>
            All rights reserved.
        </strong>
    </footer>
    {% endblock %}

    <script src="{% static "admin/js/jquery-migrate-1.2.1.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{{STATIC_URL}}admin/js/jquery.slimscroll.min.js"></script>
    <script src="{{STATIC_URL}}admin/js/fastclick.min.js"></script>
    <script src="{{STATIC_URL}}admin/js/app.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        (function($) {
            $(document).ready(function() {
                $('input[type="submit"]').addClass('btn');
                $('[title]').tooltip();
                $( "ul span:contains('Django Summernote')" ).parent().parent().remove();
                $($( "ul span:contains('Aut')" )[1]).parent().parent().remove()
                $( "ul span:contains('Aut')" ).siblings()[0].setAttribute('class', 'fa fa-user');
                $( "ul span:contains('Aut')" ).text('{% trans 'Authentication'%}')
            });
            var selectedApp = $('.breadcrumb').find("li:eq(1)").find("a").text();
            var $selectedMenuOption = $('[data-menu-option="'+selectedApp+'"]');
            $selectedMenuOption.addClass('active');
            $selectedMenuOption.find('ul').slideDown();
        }(jQuery));
        //]]>
    </script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
