{% extends "admin/base_site.html" %}
{% load i18n admin_static bootstrapped_goodies_tags thumbnail  %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content-navbar-collapse %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block maintitle %}Dashboard{% endblock %}

{% block box %}
<div ng-app="app">
<div ng-controller="dashboardCtrl as vm">
<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-tags"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{%trans 'Collections'%}</span>
                <span class="info-box-number" ng-bind="vm.itemsCount.collections"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-object-group"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{%trans 'Groups'%}</span>
                <span class="info-box-number" ng-bind="vm.itemsCount.groups"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-th-large"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{% trans 'Tiles'%}</span>
                <span class="info-box-number" ng-bind="vm.itemsCount.tiles"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box" title="Modulos disponibles">
            <span class="info-box-icon bg-green"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{% trans 'Users'%}</span>
                <span class="info-box-number" ng-bind="vm.itemsCount.users"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
            </div><!-- /.info-box-content -->
        </div><!-- /.info-box -->
    </div><!-- /.col -->
</div>
<div class="row">
    <div class='col-md-8'>
        <div class="box box-warning">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans 'Groups by collections'%}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-responsive">
                            <canvas id="pieChart" height="150"></canvas>
                        </div><!-- ./chart-responsive -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <ul class="chart-legend clearfix">
                            <li ng-repeat="collection in vm.PieData">
                                 <i class="fa fa-circle-o" ng-class="collection.cssclass"></i>  <span ng-bind="collection.label"><i class="fa fa-spinner fa-spin"></i></span>
                            </li>
                        </ul>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer">
            </div><!-- /.footer -->
        </div><!-- /.box -->
    </div><!-- /.col -->
    <div class="col-md-4">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">{% trans 'Latest User'%}</h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body no-padding">
                <ul class="users-list clearfix">
                   
                    <li ng-repeat="user in vm.lastestUsers" ng-attr-title="[[user.name]]">
                        <a class="users-list-name" ng-href="[[user.url]]" ng-bind="user.name"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}lib/Chart.js/Chart.min.js"></script>
<script src="{{ STATIC_URL }}lib/angular/angular.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}app/core/module.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}admin/app/app.js"></script>
<script type="text/javascript" src=" {{ STATIC_URL }}admin/app/services/dashboardSvc.js"></script>
<script type="text/javascript" src=" {{ STATIC_URL }}admin/app/services/angularSvcWrappers.js"></script>
<script type="text/javascript" src=" {{ STATIC_URL }}admin/app/controllers/dashboardCtrl.js"></script>
{% endblock %}
